body {
  font-family: "Crack Style", sans-serif;
  font-size: 16px;
  color: #e54d2a;
  background-color: #dedede;
}

/** Header **/

#header-nav {
  /* Header container */
  margin-top: 1%;
}

#logo-img {
  /* Logo */
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0.15em;
}

.navbar-brand h1 {
  /* Brand name */
  color: #e54d2a;
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px#222;
  line-height: 0.75;
  letter-spacing: 3px;
}

#list-nav li {
  /* Navigation  list element */
  font-size: 15px;
  color: #262626;
}

#list-nav a {
  /* Navigation  a element under list */
  color: #262626;
}

#list-nav a:hover {
  color: #e54d2a;
}

.bullet-nav {
  /* HTML dot character */
  margin: auto 5px auto 5px;
}

.custom-toggler .navbar-toggler-icon {
  /* Toggle icon */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(229,76,42, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/** End Header **/

/* Home Page */

.container-fluid .banner-img {
  /* Banner image */
  margin-left: -0.75em;
  margin-right: -0.75em;
  color: white;
  font-family: "Fauna One", sans-serif;
}

.banner-img {
  /* Banner image */
  background: url("../images/banner_560.jpg") no-repeat;
  background-size: 100% !important;
  height: 400px;
}

.banner-img div h2 {
  /* Banner heading3*/
  font-size: 23px;
  margin-top: -10px;
  margin-bottom: 8px;
}

.banner-img div h3 {
  /* Banner heading3*/
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 5px;
}

.banner-img div p {
  /* Banner para*/
  font-size: 8px;
  width: 80%;
}

.banner-img div a {
  padding: 0.01rem 0.25rem;
}

/* End Home Page */

/*************** Huge devices only ***************/
@media (min-width: 1441px) {
  /* Home Page */
  .banner-img {
    /* Banner image */
    background: url("../images/banner_2560.jpg") no-repeat;
    height: 700px;
  }
  /* End Home Page */
}

/*************** Large devices only ***************/
@media (min-width: 1200px) {
  /* Home Page */
  .banner-img {
    /* Banner image */
    background: url("../images/banner_1200.jpg") no-repeat;
  }
  /* End Home Page */
}

/*************** Medium devices only ***************/
@media (min-width: 992px) {
  /** Header **/
  #logo-img {
    /* Logo */
    width: 70px;
    height: 70px;
  }
  /** End Header **/
  /* Home Page */
  .banner-img {
    /* Banner image */
    background: url("../images/banner_992.jpg") no-repeat;
  }
  /* End Home Page */
}

/*************** Small devices only ***************/
@media (min-width: 768px) {
  /** Header **/
  #logo-img {
    /* Logo */
    width: 65px;
    height: 65px;
  }
  /** End Header **/
  /* Home Page */
  .banner-img {
    /* Banner image */
    background: url("../images/banner_768.jpg") no-repeat;
    height: 500px;
  }
  /* End Home Page */
}

/*************** Fluid font from 321px onwards ***************/
@media (min-width: 321px) {
  /* Home Page */
  .navbar-brand h1 {
    /* Brand name */
    font-size: calc(28px + 1vw);
  }
  #list-nav li {
    /* Navigation  list element */
    font-size: calc(15px + 0.45vw);
  }
  .banner-img div h2 {
    /* Banner heading3*/
    font-size: calc(23px + 1.2vw);
    margin-bottom: calc(8px + 1vw);
  }

  .banner-img div h3 {
    /* Banner heading3*/
    font-size: calc(25px + 1vw);
    margin-bottom: calc(5px + 0.5vw);
  }

  .banner-img div p {
    /* Banner para*/
    font-size: calc(8px + 0.75vw);
  }
  /* End Home Page */
}
