* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
}

header,
footer {
  font-size: 20px;
  text-align: center;
  color: orange;
  background-color: black;
  padding: 1.5px;
}

footer a {
  color: yellow;
  text-decoration: none;
}

footer a:hover {
  color: orange;
}

h1 > span {
  display: block;
}

h2 {
  font-size: 25px;
  color: blue;
  font-weight: bolder;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  color: green;
  font-weight: 800;
}

#section1,
#section2,
#section3 {
  font-size: 18px;
}

ul > li {
  margin-bottom: 10px;
}

p > b {
  color: brown;
}

p > a:link,
p > a:visited {
  color: blue;
}

p > a:hover {
  color: red;
}

div > ul > li,
ul a {
  list-style: none;
  text-decoration: none;
  margin-bottom: 3px;
  width: 350px;
}

ul a:link,
ul a:visited {
  font-size: 20px;
  color: orange;
  background-color: black;
  display: block;
}

ul a:hover,
ul a:active {
  background-color: orange;
  color: black;
}

#box1 {
  background-color: chocolate;
  text-align: center;
  width: 500px;
  margin: 10px;
  padding: 25px;
  border: 5px solid cornflowerblue;
  box-sizing: border-box;
}

#box2 {
  background-color: cornflowerblue;
  text-align: center;
  width: 500px;
  margin: 10px;
  padding: 25px;
  border: 5px solid chocolate;
  box-sizing: content-box;
}

@media (min-width: 150px) and (max-width: 700px) {
  ul a {
    width: 50%;
  }
  #box1 {
    width: 50%;
  }
  #box2 {
    width: 50%;
  }
}

#fPara > p {
  width: 50%;
  float: left;
}

#retNormalFlow {
  clear: left;
}

#positioning {
  width: 50%;
  height: 25%;
  background-color: greenyellow;
  position: relative;
}

.box {
  width: fit-content;
  border: dashed;
  padding: 3px;
}

.b1 {
  background-color: red;
  position: absolute;
  left: 10%;
  top: 4%;
}

.b2 {
  background-color: seagreen;
}

.b3 {
  background-color: royalblue;
  position: relative;
  left: 25%;
}

@media (max-width: 450px) {
  #positioning {
    width: 75%;
  }
}

.row {
  width: 100%;
  padding: 3px;
}

.rContainer {
  border: 0.5px solid red;
  width: 100%;
}

.rPara {
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  width: 75%;
  height: 20%;
  text-align: center;
  padding: 20% 0 20%;
}

/* Large devices */
@media (min-width: 1200px) {
  .rContainer {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/* Medium devices */

@media (min-width: 390px) and (max-width: 1199px) {
  .rContainer {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
}
